
  
.example-full-width {
    width: 100%;
}





.mat-card-header{
    padding-bottom: 15px;
}
.mat-card-header mat-card-title{
    font-size: 27px;
    color: #666;
}

.mat-card{
    border: 2px #dadada solid;
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    display: block;
    margin: 150px auto 0 auto;
}

.mat-card-content{
}

.mat-card-actions{
    padding: 5px 15px 15px 15px;
}
.mat-card-actions button{
    width: 150px;
    margin-left: auto;
    height: 45px;
}