
<router-outlet></router-outlet>

<!--
  
  <mat-toolbar>
    <span>My Application</span>
  </mat-toolbar>
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer opened #drawer class="example-sidenav" mode="side">
      <div class="example-menu" cdkMenu>
        <button class="example-menu-item" cdkMenuItem>Inbox</button>
            <button class="example-menu-item" cdkMenuItem>Snoozed</button>
            <button class="example-menu-item" cdkMenuItem>Important</button>
            <button class="example-menu-item" cdkMenuItem>Sent</button>
            <button class="example-menu-item" cdkMenuItem>Drafts</button>
            <button class="example-menu-item" cdkMenuItem>All Mail</button>
          </div>
          <app-nav-bar></app-nav-bar>
        </mat-drawer>
        
        <div class="example-sidenav-content">

          <router-outlet></router-outlet>
          <button type="button" mat-button (click)="drawer.toggle()">
            Toggle sidenav
          </button>
        </div>
        
      </mat-drawer-container>
    -->